<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneNumber</key>
		<string>786-554-3285</string>
		<key>isAdmin</key>
		<true/>
		<key>lastname</key>
		<string>Pentzke</string>
		<key>firstName</key>
		<string>Ariel</string>
		<key>password</key>
		<string>1111</string>
		<key>userName</key>
		<string>ariel</string>
		<key>eMail</key>
		<string>apent003@fiu.edu</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14250 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>786-554-4323</string>
		<key>isAdmin</key>
		<false/>
		<key>lastname</key>
		<string>Sanchez</string>
		<key>firstName</key>
		<string>Israel</string>
		<key>password</key>
		<string>2222</string>
		<key>userName</key>
		<string>reg1</string>
		<key>eMail</key>
		<string>regular1@hotmail.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14253 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>786-554-3785</string>
		<key>isAdmin</key>
		<false/>
		<key>lastname</key>
		<string>Tran</string>
		<key>firstName</key>
		<string>Jose</string>
		<key>password</key>
		<string>2222</string>
		<key>userName</key>
		<string>reg2</string>
		<key>eMail</key>
		<string>regular2@gmail.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14255 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>305-123-1234</string>
		<key>isAdmin</key>
		<true/>
		<key>lastname</key>
		<string>Hayron</string>
		<key>firstName</key>
		<string>Alvarez</string>
		<key>password</key>
		<string>1111</string>
		<key>userName</key>
		<string>alvarez</string>
		<key>eMail</key>
		<string>someFakeEmail@liamg.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14277 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>786-512-3426</string>
		<key>isAdmin</key>
		<true/>
		<key>lastname</key>
		<string>Jensen</string>
		<key>firstName</key>
		<string>Sostre</string>
		<key>password</key>
		<string>1111</string>
		<key>userName</key>
		<string>jensen</string>
		<key>eMail</key>
		<string>jensen@adzum.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14258 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>786-554-3285</string>
		<key>isAdmin</key>
		<false/>
		<key>lastname</key>
		<string>Juarez</string>
		<key>firstName</key>
		<string>Mark</string>
		<key>password</key>
		<string>2222</string>
		<key>userName</key>
		<string>reg3</string>
		<key>eMail</key>
		<string>regular3@hotmail.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14248 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>305-554-3285</string>
		<key>isAdmin</key>
		<false/>
		<key>lastname</key>
		<string>Gerger</string>
		<key>firstName</key>
		<string>Samuel</string>
		<key>password</key>
		<string>2222</string>
		<key>userName</key>
		<string>reg4</string>
		<key>eMail</key>
		<string>regular4@hotmail.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14265 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>786-342-3285</string>
		<key>isAdmin</key>
		<false/>
		<key>lastname</key>
		<string>Perez</string>
		<key>firstName</key>
		<string>Carlos</string>
		<key>password</key>
		<string>2222</string>
		<key>userName</key>
		<string>reg5</string>
		<key>eMail</key>
		<string>regular5@hotmail.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14252 sw 62nd st</string>
	</dict>
	<dict>
		<key>phoneNumber</key>
		<string>786-554-3285</string>
		<key>isAdmin</key>
		<true/>
		<key>lastname</key>
		<string>Subirats</string>
		<key>firstName</key>
		<string>Ismael</string>
		<key>password</key>
		<string>2222</string>
		<key>userName</key>
		<string>reg6</string>
		<key>eMail</key>
		<string>regular6@hotmail.com</string>
		<key>zip</key>
		<string>33155</string>
		<key>state</key>
		<string>FL</string>
		<key>city</key>
		<string>miami</string>
		<key>address</key>
		<string>14271 sw 62nd st</string>
	</dict>
</array>
</plist>
